{{>layout/header}}
<h1 xmlns="http://www.w3.org/1999/html">배달 상태 확인</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="READY">준비완료</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="SHIPPING">배송시작</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="ARRIVE">배송완료</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="CANCLE">배송취소</button>
            </div>
{{>layout/footer}}
<!--            READY, SHIPPING ,ARRIVE, CANCEL, SUCCESS-->